

/* reset class */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}





/* global variable */
:root{

    /* for color */
    --Nutmeg:hsl(14, 45%, 36%);
    --Dark-Raspberry:hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);   
    --Wenge-Brown: hsl(30, 10%, 34%);    
    --Dark-Charcoal: hsl(24, 5%, 18%);

    /* for font */
    --primary-font:  'Young Serif', serif;
    --secondary-font:'Outfit', sans-serif;

    /* for spacing */
    --small-spacing:16px;
    --medium-spacing: 32px;
    --large-spacing: 48px; 

}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--Eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




/* utility class */

h1{
    margin-block: var(--small-spacing);
    font-size: 3.8rem;
    font-family: var(--primary-font);
    font-weight: 700;
}

.flex{
    display: flex;
}

p{
    font-size: 1.5rem;
    color: var(--Dark-Charcoal);
    margin-block: var(--medium-spacing);
    font-family: var(--secondary-font);
}


h3{
    font-size: 3rem;
}

h2{
    color: var(--Nutmeg);
    font-family: var(--primary-font);
    font-size: 3.7rem;
    font-weight: 400;
    margin-block: var(--small-spacing);
}

.bold-p{
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

.line{
    width: 100%;
    margin-block: var(--small-spacing);
    height: 3px;
    background-color: var(--Light-Grey);
}

li p{
    margin-inline: 3.75em;
}

ol{
    color: var(--Nutmeg);
}

.dot-li{
    list-style-type: disc;
}



/* main container design*/
main{
    position: absolute;
    width: 60%;
    background-color: var(--White);
    top: 20%;
    border-radius: var(--large-spacing);
    padding: var(--medium-spacing);
}





/* --------img part------------------- */

.img-container img{
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}




/* --------preparation part----------- */

.preparation-container{
    width: 100%;
    height: 30%;
    background-color: var(--Rose-White);
    justify-content: start;
    flex-direction: column;
    padding: var(--medium-spacing);
    border-radius: 16px;
    margin-block: var(--small-spacing);
}

.preparation-container h3{
    font-family: var(--secondary-font);
    color: var(--Dark-Raspberry);
    padding: var(--small-spacing);
}

.preparation-container ol li{
    margin-block: var(--small-spacing);
}

.preparation-container ol{
    margin: var(--small-spacing) var(--large-spacing);
    color: var(--Dark-Charcoal);
}



/* -------ingredients part----------------*/

.ingredients-container{
    margin: var(--small-spacing) var(--medium-spacing);
}

.ingredients-container ol{
    margin-block: var(--small-spacing);
    padding-block: var(--small-spacing);
}

.instruction-container{
    margin-block: var(--small-spacing);
}

.instruction-container ol{
    margin: var(--small-spacing);
    padding: var(--small-spacing);
}


/* ----------nutrition part -----------------*/

.nutrition-container-value{
    margin-block: var(--small-spacing);
    padding: var(--large-spacing);
}

.value p{
    width: 40%;
}

.nutrition-container-value .bold-p{
    color: var(--Nutmeg);
}   



