@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 243, 243);
}
h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 100px;
    border: none;
}
.buttons{
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.a{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px; 
    font-style: bold;   
    background-color: rgb(37, 75, 62);
    color: aliceblue;
}
.a:hover{
    background-color: rgb(36, 63, 54);
    color: rgb(225, 225, 230);
}

