*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box h1{
    width:  200px;
    border: 10px solid rgb(209, 30, 30);  
    margin: 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 12px; 
    text-align: center;
    text-decoration-color: blue;
    text-decoration-line: dot;
    text-transform: lowercase;
    text-indent:0; /*it is use for give a gap in left of word*/
    text-shadow: 4px 4px 10px lightblue;
    font-family: monospace;
    display: block;
    
}